body {
	font-family: 'Lato', sans-serif !important;
	text-align: justify;
	background-color: rgba(227, 227, 227, 1.00) !important;
	max-width: 960px;
	margin: 0 auto !important;
	text-align: left;
}

h1, 
h2, 
h3 {
	color: #002b5a;
	margin-bottom: 42px;
	text-transform: capitalize;
}

h1 {
	font-family: 'Lato', sans-serif, !important;
	font-size: 42px;
	font-weight: 200;
}

h2 {
	font-size: 40px;
	font-weight: 200;
}

.brMobileOnly {
	display: none;
}

.gravidaTiles h3 {
	font-size: 15px;
	font-weight: normal;
	margin: 5px 0px;
}

#banner {
	background: url("assets/images/banner.jpg") no-repeat top center;
	background-size: cover;
	min-height: 372px;
	max-width: 960px;
	margin: 0 auto;
}

#connect {
	float: right;
  margin-top: 330px;
  margin-right: 40px;
}

#connect p {
	color: #ffffff;
}

#mainRow {
	padding: 15px;
}

#mainDesc {
	padding: 0px 30px 0px 0px;
}

#mainDesc p {
	font-size: 16px;
	color: #333;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

#stateBox {
	-webkit-box-shadow: 2px 2px 17px 6px rgba(170,170,170,1);
	-moz-box-shadow: 2px 2px 17px 6px rgba(170,170,170,1);
	box-shadow: 2px 2px 17px 6px rgba(170,170,170,1);
	margin-top: 25px;
	background-color: RGBA(243, 243, 243, 1.00);
	padding: 0px 20px 20px;
  border-radius: 5px;
  display: inline-block;
}

#stateBox > p{
	color: #002b5a;
	margin-bottom: 5px;
	font-size: 12px;
}

#stateBox > h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

select,
option {
	color: #002b5a;
}

.sectionSep {
	background-color: #f3f3f3;
	margin: 10px 0;
	padding: 30px;
}

.learnMore {
	background-color: #ffffff;
	color: #002b5a;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	font-family: 'Lato', sans-serif !important;
	padding: 9px;
	display: inline-block;
}

.productTiles > .learnMore {
	outline: none;
  background-color: transparent;
  border: none;
  box-shadow: initial;
}

.gravidaTiles{
	padding: 15px;
}

.gravidaTiles p {
	font-size: 12px;
	text-align: justify;
}

.productTiles {
	background-color: #ffffff;
	max-width: 220px;
	margin: 5px;
	padding: 15px;
}

.productTiles p:nth-child(1) {
	color: #002b5a;
	font-size: 17px;
}

.productTiles p:nth-child(2) {
	color: #4987ca;
	font-size: 13px;
}

.productTiles p:nth-child(3) {
	font-size: 13px;
	color: #666666;
}

.productTiles a {
	font-size: 13px;
	color: #666666;
}

.productTiles > img {
	max-width: 190px;
	display: inline-block;
	cursor: pointer;
}

#prodFilter {
	float: right;
	margin-top: 20px;
	color: #666666;
}

.modal-title {
	color: #002b5a;
	font-size: 24px;
}

.modal-priceDesc {
	color: #4987ca;
	font-size: 19px;
	margin: 10px 0 0;
  font-style: italic;
}

#headerModal {
	border-bottom: initial;
}

.modal-desc {
	text-align: justify;
}

.modal-img {
	max-width: 416px;
}

/* ========== MEDIA QUERIES ========== */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

 	#banner {
 		background: url("assets/images/banner_Mobile.jpg") no-repeat top center;
 		background-size: cover;
 		margin: 0 auto;
 		min-height: 190px;
 		max-width: 375px;
 	}

	#connect {
		display: none;
	}
	
	#mainDesc h1,
	#inGravTitle {
		margin: 0 0 20px;
	}

	#stateBox {
		padding: 20px;
  	display: inherit;
	}

	#stateBox > h2 {
		margin-top: 0;
	}

	#mainRow {
			padding: 20px;
		}

	#mainDesc {
			padding: initial;
	}

	.sectionSep {
    background-color: #f3f3f3;
    margin: 10px;
    padding: 20px;
  }
	
	#prodFilter {
		font-size: 12px;
	}

  #prodSelect {
  	background: #ffffff;
  }

  .productTiles {
		max-width: initial;
  	width: 97%;
  }

  .productTiles > img {
    max-width: 100%;
	}

  .list {
  	background: #ffffff;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#prodFilter {
  		float: initial;
  	}

  	#prodHead {
  		margin-bottom: 0px;
  	}

  	.productTiles > img {
    max-width: 100%;
		}

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
		.brMobileOnly {
			display: inline;
		}
		#mainRow {
			padding: 30px;
		}

		#mainDesc {
			padding: initial;
		}

		#mainDesc h1,
		#inGravTitle {
			margin: 20px 0;
		}

  	.sectionSep {
    background-color: #f3f3f3;
    margin: 10px;
    padding: 30px;
		}

		.productTiles {
			background-color: #ffffff;
			max-width: initial;
			margin: 0 auto;
			padding: 15px;
		}

		.productTiles > img {
    max-width: 100%;
		}

		#prodSelect {
			background: #ffffff;
		}

		.list {
			background: #ffffff;
		}

}
