body {
	font-family: 'Lato', sans-serif !important;
	text-align: justify;
	background-color: rgba(227, 227, 227, 1.00) !important;
	max-width: 960px;
	margin: 0 auto !important;
	text-align: left;
}

h1, 
h2, 
h3 {
	color: #002b5a;
	margin-bottom: 42px;
	text-transform: capitalize;
}

p {
	color: #333;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif, !important;
	font-size: 42px;
	font-weight: 200;
}

h2 {
	font-size: 40px;
	font-weight: 200;
}

.gravidaTiles h3 {
	font-size: 15px;
	font-weight: normal;
	margin: 5px 0px;
}

#banner {
background: url("assets/images/banner.jpg") no-repeat top center;
background-size: cover;
min-height: 372px;
max-width: 960px;
margin: 0 auto;
}

#connect {
	float: right;
  margin-top: 330px;
  margin-right: 40px;
}

#connect p {
	color: #ffffff;
}

#mainDesc {
	padding: 0px 30px 0px 0px;
}

#stateBox {
	-webkit-box-shadow: 2px 2px 17px 6px rgba(170,170,170,1);
	-moz-box-shadow: 2px 2px 17px 6px rgba(170,170,170,1);
	box-shadow: 2px 2px 17px 6px rgba(170,170,170,1);
	margin-top: 25px;
	background-color: #f5f5f5;
	padding: 0px 20px 20px;
  border-radius: 5px;
  display: inline-block;
}

#stateBox > p{
	color: #002b5a;
	margin-bottom: 5px;
	font-size: 12px;
}

#stateBox > h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

select,
option {
	color: #002b5a;
}

.sectionSep {
	background-color: #f3f3f3;
	margin: 10px 0;
	padding: 30px;
}

.learnMore {
	background-color: #ffffff;
	color: #002b5a;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	font-family: 'Lato', sans-serif !important;
	padding: 9px;
	display: inline-block;
}

.productTiles > .learnMore {
	outline: none;
  background-color: transparent;
  border: none;
  box-shadow: initial;
}

.gravidaTiles{
	padding: 15px;
}

.productTiles {
	background-color: #ffffff;
	max-width: 220px;
	margin: 5px;
	padding: 15px;
}

.productTiles p:nth-child(1) {
	color: #002b5a;
	font-size: 17px;
}

.productTiles p:nth-child(2) {
	color: #4987ca;
	font-size: 13px;
}

.productTiles p:nth-child(3) {
	font-size: 13px;
	color: #666666;
}

.productTiles a {
	font-size: 13px;
	color: #666666;
}

.productTiles > img {
	max-width: 190px;
	display: inline-block;
	cursor: pointer;
}

#prodFilter {
	float: right;
	margin-top: 20px;
	color: #666666;
}

.modal-title {
	color: #002b5a;
	font-size: 24px;
}

.modal-priceDesc {
	color: #4987ca;
	font-size: 19px;
	margin: 10px 0 0;
  font-style: italic;
}

#headerModal {
	border-bottom: initial;
}

.modal-desc {
	text-align: justify;
}

.modal-img {
	max-width: 416px;
}















